* {
  margin: 0;
}

.app {
  background-color: white;
}

.app__signup > * {
  margin: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_logo {
  margin-right: 10px;
  font-family: 'Old Growth';
  font-size: small;
  object-fit: contain;
}
.app_userheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_searchbox{  
  display: flex;
  align-items: center;
  padding-right:20px;
  
}
.app_userinfo{
  display: flex;
  justify-content: space-between;
}
.app__avatar{
  margin-top: 5px;
}
.app__logoutContainer{
  margin-top: 5px;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__loginmessage {
  text-align: center;
  padding: 50px;
  margin-left:15%;
}

.app_bottom{
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_postion{
  position: absolute;  
  left:50;
  top:50;
  transform: translate(190%, -1%); 
}

.app_addpostbutton{    
  left:90;
  top:50;
  transform: translate(190%, -1%);  
  align-items: center;
}

.app_addposticon{   
  width: 30px;
  height: 30px;    
  margin-right: 10px;   
}

@media (max-width: 1000px) {
  .app__posts {
    flex-direction: column;
    align-items: center;
  }


}

@media (max-width: 999px) {
  .app_postion{
    padding:10px;
    position: absolute;  
    left:10;
    top:50;
    transform: translate(-70%, 0%); 
  }

}
