* {
    margin: 0;
}
.app {
    background-color: #faf8f8;
    height: 100vh;
}
.app_header {
    object-fit: contain;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    
}
.app_logo {
    font-family: "Old Growth";
    font-size: 20px;

}
